<div class="d-block mb-2">
  <div class="card shadow-sm bg-light rounded">
    <div class="card-body">
      <p>{{content}}</p>
      <footer class="blockquote-footer text-end">
        - {{user.name}}, {{format_date updatedAt}}
      </footer>
    </div>
  </div>
</div>